<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
    {% for ns in namespaces %}
    xmlns:{{ ns.name }}="{{ ns.url }}"
    {% endfor %}
    version="HTML+RDFa 1.1">

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}active archives{% endblock %}</title>

    {% block extrahead %}{% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.wiki.css" media="screen"/>
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
