<?xml version="1.0" encoding="UTF-8"?>

{% load aacore_tags %}

<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:aa="http://activearchives.org/terms/"
    xmlns:dct="http://purl.org/dc/terms/"
    xmlns:hdr="http://www.w3.org/2011/http-headers#"
    version="XHTML+RDFa 1.1"
    >
    <head>
        <title>Virtual Library</title>
    </head>
    <body>
        <p about="{{ url }}">
            <span property="dct:format">{{ mime }}</span>

        {% for key,value in headers.items %}
            {% if value %}
            <span property="hdr:{{ key }}">{{ value }}</span>
            {% endif %}
        {% endfor %}
        </p>
    </body>
</html>
