{% extends "aacore/base.html" %}

{% block body %}
<form action="." method="post" accept-charset="utf-8">{% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="Execute"></p>
</form>

{% if rows %}
<table border="1">
    <thead>
        <tr>
        {% for binding in bindings %}
            <td>{{ binding }}</td>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
        {% for col in row %}
            <td>{{ col }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
